# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# Replit

.breakpoints
.config/
.cache/
.local/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.bak
attached_assets/

# Node / JS
node_modules/
**/node_modules/
