        <header class="header">
            <div class="container">
                <div class="header-content">
                    <div class="logo">
                        <a href="/">
                            <img
                                src="images/LOGO_NOIR_COULEUR_1.png"
                                alt="Volontaires français"
                                class="logo-img logo-desktop"
                            />
                            <img
                                src="images/MONOGRAMME_COULEUR_FOND_BLANC.png"
                                alt="Volontaires français"
                                class="logo-img logo-mobile"
                            />
                        </a>
                    </div>
                    <nav class="nav" id="nav">
                        <ul class="nav-list">
                            <li>
                                <a href="/" class="nav-link{% if active_page == 'accueil' %} active{% endif %}">Accueil</a>
                            </li>
                            <li>
                                <a href="/equipe" class="nav-link{% if active_page == 'equipe' %} active{% endif %}">L'équipe</a>
                            </li>
                            <li><a href="/actu" class="nav-link{% if active_page == 'actu' %} active{% endif %}">Actu</a></li>
                            <li>
                                <a href="/galerie" class="nav-link{% if active_page == 'galerie' %} active{% endif %}"
                                    >Galerie Photos</a
                                >
                            </li>
                            <li><a href="/faq" class="nav-link{% if active_page == 'faq' %} active{% endif %}">FAQ</a></li>
                            <li class="nav-member-mobile">
                                <a
                                    href="https://www.helloasso.com/associations/volontaires-francais/adhesions/adherez-a-volontaires-francais"
                                    target="_blank"
                                    class="nav-link"
                                    >Espace adhérent</a
                                >
                            </li>
                        </ul>
                    </nav>
                    <div class="header-actions">
                        <a
                            href="/adhesion"
                            class="btn-member"
                            >Adhérer</a
                        >
                    </div>
                    <button class="hamburger" id="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
        </header>
